<h2 class="text-center mb-5">{{title}}</h2>
<div class="container-fluid py-5 px-5">
  <div class="row">
    <div class="col-2">
      <ul>
        <li><a routerLink="/admin/products" class="fs-20">Products</a></li>
        <li><a routerLink="/admin/categories" class="fs-20">Categories</a></li>
        <li><a routerLink="/admin/brands" class="fs-20">Brands</a></li>
        <li><a routerLink="/admin/colors" class="fs-20">Colors</a></li>
        <li><a routerLink="/admin/sizes" class="fs-20">Sizes</a></li>
        <li><a routerLink="/admin/genders" class="fs-20">Genders</a></li>
        <li><a routerLink="/admin/discounts" class="fs-20">Discounts</a></li>
        <li><a routerLink="/admin/prices" class="fs-20">Prices</a></li>
        <li><a routerLink="/admin/users" class="fs-20">Users</a></li>
        <li><a routerLink="/admin/reviews" class="fs-20">Reviews</a></li>
        <li><a routerLink="/admin/orders" class="fs-20">Orders</a></li>
        <li><a routerLink="/admin/auditlogs" class="fs-20">Audit Logs</a></li>
        <li><a routerLink="/admin/errorlogs" class="fs-20">Error Logs</a></li>
      </ul>
    </div>
    <div class="col-10">
        @if(this.router.url.includes('dashboard')){
            <app-dashboard></app-dashboard>
        }
      <app-generic-table></app-generic-table>
    </div>
  </div>
</div>