@if(tableForCreate.includes(table)){
    <button class="btn btn-primary mb-3">Create entity</button>
}
@if(items){
    <div id="filters" class="d-flex mb-3">
        @if(filtersToShow.searchByName.includes(table)){
            <input type="text" #name [(ngModel)]="filters.searchByName" class="form-control me-2" style="width: 200px; margin-right: 10px;" placeholder="Search by name" (input)="searchByName(name.value)">
        }
        @if(filtersToShow.searchByIsActive.includes(table)){
            <div id="isActive" class="d-flex align-items-center">
                <input type="radio" #active  name="isActive" style="width: 20px;" value="true" [(ngModel)]="searchByIsActive">
                <label for="active" class="mb-0" style="margin-right: 5px;">Active</label>
                <input type="radio" #inactive  name="isActive" style="width: 20px;" value="false"  [(ngModel)]="searchByIsActive">
                <label for="inactive" class="mb-0" style="margin-right: 5px;">Inactive</label>
                <input type="radio" #both  name="isActive" style="width: 20px;" value="null"  [(ngModel)]="searchByIsActive">
                <label for="inactive" class="mb-0" style="margin-right: 5px;">Both</label>
            </div>
        }
    </div>
   
    <table class="table table-striped">
        <thead>
            <tr>
                @for (column of columns; track $index) {
                   @if(!columnsForSkip.includes(column)){
                    <th>{{column}}</th>
                   }
                }
                @if(tableForUpdate.includes(table) && tableForDelete.includes(table)){
                    <th>actions</th>
                } 
            </tr>
        </thead>
        <tbody>
            @for (item of items; track $index) {
                <tr>
                @for(column of columns; track $index) {
                    @if(column == 'stackTrace'){
                        <td>
                            <button class="btn btn-primary" (click)="showStackTrace(item[column])">Show stack trace</button>
                        </td>
                        
                    } 
                    @else if(column == 'image'){
                        <td>
                            <img src="http://localhost:5001/{{item[column]}}" alt="image" style="width: 50px; height: 50px; object-fit: cover;">
                        </td>
                    }
                    @else if(column == 'price'){
                        <td>
                           ${{item['price']['activePrice']}}
                        </td>  
                    }
                    @else if(column == 'images'){
                        <td>
                            @for (item of item[column]; track $index) {
                                <img src="http://localhost:5001/{{item}}" alt="image" style="width: 50px; height: 50px; object-fit: cover;">
                            }
                           
                        </td>
                    } 
                    @else {
                        @if(!columnsForSkip.includes(column))
                        {
                            <td>{{item[column]}}</td>
                        }
                        
                    }
                }
                
                @if(tableForUpdate.includes(table) && tableForDelete.includes(table)){
                   <td>
                        <button class="btn btn-primary">Update</button>
                        @if(item['status'] == 'Active'){
                            <button class="btn btn-danger" style="margin-left: 10px;" (click)="deleteEntity(item['id'])">Delete</button>
                        }
                        @else {
                            <button class="btn btn-success" style="margin-left: 10px;" (click)="activateEntity(item['id'])">Activate</button>
                        }
                   </td>         
                }
                </tr>
            }   
        </tbody>
    </table>
    <div class="flex-c-m flex-w w-full p-t-45">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (pageNumber of pages; track $index) {
                    <li class="page-item" [ngClass]="{ 'active': activePage === pageNumber }"><a class="page-link" (click)="pagination(pageNumber)">{{pageNumber}}</a></li>
                }
            </ul>
          </nav>
    </div>
}
