	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							At CozaStore, we believe that shopping should be an enjoyable experience. That's why we carefully curate our collections to offer a diverse range of products that meet the needs and tastes of our customers. From the latest fashion trends to must-have gadgets and home essentials, we provide everything you need to live your best life.
							
							Our journey began with a simple idea: to make shopping online as easy and enjoyable as possible. We focus on providing top-notch customer service, fast and reliable shipping, and a seamless online shopping experience. Our team is dedicated to constantly improving and expanding our offerings to ensure that we stay ahead of the curve and meet the ever-changing needs of our customers.
							
							Thank you for choosing CozaStore. We are excited to be part of your shopping journey and look forward to serving you for many years to come.
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="assets/images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							At CozaStore, our mission is to revolutionize the online shopping experience by offering an unparalleled selection of high-quality products at competitive prices. We are dedicated to bringing the latest trends and essential items to our customers, ensuring that they can find everything they need in one convenient place.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
							</p>

							<span class="stext-111 cl8">
								- Steve Job’s 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="assets/images/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
